fastapi
uvicorn[standard]
twilio
deepgram-sdk==3.10.1
openai
python-dotenv
websockets
sqlalchemy[asyncio]
asyncpg
alembic
azure-cognitiveservices-speech
python-multipart
requests
requests-ntlm
openpyxl
